Antares/input/
Antares/output/
Antares/logs/
Balmorel/base/auxils
Pre-Processing/Data
Pre-Processing/Representative periods/*.png
simple-multienergy-example/
key
Logs/


!Antares/input/bindingconstraints/bindingconstraints.ini
Balmorel/base/logerror/*
Balmorel/base/data/COMBTECH_G.inc
Balmorel/base/data/SOLE_VAR_T.inc
Balmorel/base/data/WND_VAR_T.inc
Balmorel/base/data/WND_VAR_T2.inc
Balmorel/base/data/
**/*.~*
**/*.gdx
**/*.accdb
**/*.accdbbak
**/*.xls*
**/*.mdb
**/*.db
**/*.xls*
**/*.bak
**/*.out
**/*.bat
**/*.gpr
**/*.dat
**/*.cmd
*.zip
Workflow/MetaResults/*
Workflow/OverallResults/*
**Balmorel/base/model/Balmorel.l*
**Balmorel/base/output/economic/*.*
Balmorel/base/bui/gamsscr/*.*

!scenariobuilder.dat
!Manual_AligningDE.xlsx
!GDATA.xlsx
!job_creation.sh

Balmorel/*
!Balmorel/base/model
!Balmorel/base/addons
!Balmorel/base/auxils
!Balmorel/base/output
Balmorel/base/model/Balmorel-Antares.log
Balmorel/base/model/Balmorel-Antares.log~1
Balmorel/base/model/Balmorel-Antares.log~2
Balmorel/base/model/Balmorel-Antares.log~3
Balmorel/base/model/Balmorel.lxi
Balmorel/base/model/Balmorel1.log
Balmorel/base/model/Balmorel1.log~1
Balmorel/base/model/Balmorel1.log~2
Balmorel/base/model/MainResults*
Balmorel/base/model/all_endofmodel.gdx
ui.ini
Workflow/Functions/__pycache__/GeneralHelperFunctions.cpython-39.pyc


.BAF-Env/*
Workflow/Functions/__pycache__/Formatting.cpython-39.pyc
Workflow/Functions/__pycache__/GeneralHelperFunctions.cpython-311.pyc
SmallAnalyses.py
Pre-Processing/Timeseries Aggregation/*.png
Pre-Processing/Timeseries Aggregation/*.pdf
# AntaresAutoEdits.py
Antares/BAF Data eur-system/*
Workflow/__pycache__/*
Balmorel/ik_model/data
*.pyc