src/Antares/input/
src/Antares/output/
src/Antares/logs/
src/Balmorel/base/auxils
src/Pre-Processing/Data
src/Pre-Processing/Representative periods/*.png
key
Logs/


!Antares/input/bindingconstraints/bindingconstraints.ini
src/Balmorel/base/logerror/*
src/Balmorel/base/data/COMBTECH_G.inc
src/Balmorel/base/data/SOLE_VAR_T.inc
src/Balmorel/base/data/WND_VAR_T.inc
src/Balmorel/base/data/WND_VAR_T2.inc
src/Balmorel/base/data/
**/*.~*
**/*.gdx
**/*.accdb
**/*.accdbbak
**/*.xls*
**/*.mdb
**/*.db
**/*.xls*
**/*.bak
**/*.out
**/*.bat
**/*.gpr
**/*.dat
**/*.cmd
*.zip
src/Workflow/MetaResults/*
src/Workflow/OverallResults/*
**Balmorel/base/model/Balmorel.l*
**Balmorel/base/output/economic/*.*
Balmorel/base/bui/gamsscr/*.*

!scenariobuilder.dat
!Manual_AligningDE.xlsx
!GDATA.xlsx
!job_creation.sh

Balmorel/*
!Balmorel/base/model
!Balmorel/base/addons
!Balmorel/base/auxils
!Balmorel/base/output
Balmorel/base/model/Balmorel-Antares.log
Balmorel/base/model/Balmorel-Antares.log~1
Balmorel/base/model/Balmorel-Antares.log~2
Balmorel/base/model/Balmorel-Antares.log~3
Balmorel/base/model/Balmorel.lxi
Balmorel/base/model/Balmorel1.log
Balmorel/base/model/Balmorel1.log~1
Balmorel/base/model/Balmorel1.log~2
Balmorel/base/model/MainResults*
Balmorel/base/model/all_endofmodel.gdx
ui.ini
Workflow/Functions/__pycache__/GeneralHelperFunctions.cpython-39.pyc


.BAF-Env/*
src/Workflow/Functions/__pycache__/Formatting.cpython-39.pyc
src/Workflow/Functions/__pycache__/GeneralHelperFunctions.cpython-311.pyc
SmallAnalyses.py
src/Pre-Processing/Timeseries Aggregation/*.png
src/Pre-Processing/Timeseries Aggregation/*.pdf
# AntaresAutoEdits.py
Antares/BAF Data eur-system/*
src/Workflow/__pycache__/*
Balmorel/ik_model/data
*.pyc
# pixi environments
.pixi
*.egg-info
